# Binaries for programs and plugins
*.exe
*.exe~
*.dll
*.so
*.dylib
shoutrrr
*.snap

# Test binaries and coverage
*.test
*.out
report.json
coverage.txt
*.coverprofile

# Build artifacts
dist
site/

# IDE and editor files
.idea

# Generated documentation
docs/services/*/*/config.md

# Environment variables
.env
