# Binaries for programs and plugins
*.exe
*.exe~
*.dll
*.so
*.dylib
/bin/shoutrrr
*.snap

# Test binaries and coverage
*.test
*.out
report.json
coverage.txt
*.coverprofile

# Build artifacts
dist
site/

# IDE and editor files
.vscode/settings.json
.idea

# Generated documentation
docs/services/*/*/config.md

# Generated WASM artifacts
docs/playground/assets/*.wasm
docs/playground/assets/wasm_exec.js

# Environment variables
.env
