name: Cache cleanup
on:
  workflow_dispatch: {}
  pull_request:
    types:
      - closed

permissions:
  actions: write
  contents: read

jobs:
  cleanup:
    if: github.event.pull_request.merged
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@1af3b93b6815bc44a9784bd300feb67ff0d1eeb3 # v6
      - uses: ./.github/actions/clean-cache
        with:
          gh-token: ${{ secrets.GITHUB_TOKEN }}
          gh-repo: ${{ github.repository }}
          branch: refs/pull/${{ github.event.pull_request.number }}/merge
