name: Cache cleanup
on:
  workflow_dispatch: {}
  pull_request:
    types:
      - closed

permissions:
  actions: write
  contents: read

jobs:
  cleanup:
    if: github.event.pull_request.merged
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6
      - uses: ./.github/actions/clean-cache
        with:
          gh-token: ${{ secrets.GITHUB_TOKEN }}
          gh-repo: ${{ github.repository }}
          branch: refs/pull/${{ github.event.pull_request.number }}/merge
