name: Lint GitHub Actions workflows

on:
  workflow_dispatch: {}
  push:
    paths:
      - .github/workflows
  pull_request:
    branches:
      - main
    paths:
      - .github/workflows

permissions:
  contents: read

jobs:
  actionlint:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@71cf2267d89c5cb81562390fa70a37fa40b1305e
      - name: Run actionlint
        uses: ./.github/actions/actionlint
