name: Lint GitHub Actions workflows

on:
  workflow_dispatch: {}
  push:
    paths:
      - .github/workflows
  pull_request:
    branches:
      - main
    paths:
      - .github/workflows

permissions:
  contents: read

jobs:
  actionlint:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@0c366fd6a839edf440554fa01a7085ccba70ac98
      - name: Run actionlint
        uses: ./.github/actions/actionlint
