name: Lint GitHub Actions workflows

on:
  workflow_dispatch: {}
  push:
    paths:
      - .github/workflows
  pull_request:
    branches:
      - main
    paths:
      - .github/workflows

permissions:
  contents: read

jobs:
  actionlint:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@064fe7f3312418007dea2b49a19844a9ee378f49
      - name: Run actionlint
        uses: ./.github/actions/actionlint
