name: Publish Docs

on:
  workflow_dispatch: {}
  push:
    branches: [main]
    paths:
      - docs/**
  release:
    types: [published]

permissions:
  contents: write
  actions: read

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@0c366fd6a839edf440554fa01a7085ccba70ac98
        with:
          fetch-depth: 0

      - name: Configure Git Credentials
        run: |
          git config user.name github-actions[bot]
          git config user.email 41898282+github-actions[bot]@users.noreply.github.com

      - name: Setup Go
        uses: actions/setup-go@ae252ee6fb24babc50e89fc67c4aa608e69fbf8f
        with:
          go-version-file: go.mod

      - name: Set executable permissions for script
        run: chmod +x ./scripts/generate-service-config-docs.sh

      - name: Generate Service Config Docs
        run: |
          go mod download
          go clean -cache  # Clear build cache
          ./scripts/generate-service-config-docs.sh

      - name: Setup Python
        uses: actions/setup-python@4f41a90a1f38628c7ccc608d05fbafe701bc20ae
        with:
          python-version: "3.14.2"
          cache: "pip"
          cache-dependency-path: |
            build/mkdocs/docs-requirements.txt

      - uses: actions/cache@9255dc7a253b0ccc959486e2bca901246202afeb # v5
        with:
          key: mkdocs-material-${{ hashFiles('build/mkdocs/docs-requirements.txt') }}
          path: .cache
          restore-keys: |
            mkdocs-material-

      - name: Install mkdocs
        run: |
          pip install -r build/mkdocs/docs-requirements.txt

      - name: Determine Mike Version and Aliases
        id: mike
        run: |
          if [[ "${{ github.event_name }}" == "release" ]]; then
            echo "version=${{ github.event.release.tag_name }}" >> "$GITHUB_OUTPUT"
            echo "aliases=latest" >> "$GITHUB_OUTPUT"
          else
            echo "version=dev" >> "$GITHUB_OUTPUT"
          fi

      - name: Build and Deploy
        run: |
          if [ -n "${{ steps.mike.outputs.aliases }}" ]; then
            mike deploy \
              --config-file build/mkdocs/mkdocs.yaml \
              --push \
              --update-aliases "${{ steps.mike.outputs.version }}" "${{ steps.mike.outputs.aliases }}"
          else
            mike deploy \
              --config-file build/mkdocs/mkdocs.yaml \
              --push \
              "${{ steps.mike.outputs.version }}"
          fi
