name: Pull Request

on:
  workflow_dispatch: {}
  pull_request:
    branches: [main]
    paths:
      - internal/**
      - pkg/**
      - shoutrrr/**
      - go.mod
      - go.sum
      - shoutrrr.go

jobs:
  lint:
    uses: ./.github/workflows/lint-go.yaml
    permissions:
      contents: read

  test:
    uses: ./.github/workflows/test.yaml
    permissions:
      contents: read

  gosec:
    name: Golang Security Checker
    runs-on: ubuntu-latest
    permissions:
      contents: read
      actions: read
      pull-requests: read
      security-events: write
    steps:
      - uses: actions/checkout@93cb6efe18208431cddfb8368fd83d5badbf9bfd # v5
      - name: Checkout main branch
        if: github.event_name == 'pull_request'
        uses: actions/checkout@93cb6efe18208431cddfb8368fd83d5badbf9bfd # v5
        with:
          ref: "main"
          fetch-depth: 0
          path: "main"
      - name: Run gosec on main
        if: github.event_name == 'pull_request'
        uses: securego/gosec@6be2b51fd78feca86af91f5186b7964d76cb1256 # v2.22.10
        with:
          args: '-no-fail -fmt sarif -out results.sarif -tests -ai-api-provider="none" ./...'
      - name: Run gosec on PR
        if: github.event_name == 'pull_request'
        uses: securego/gosec@6be2b51fd78feca86af91f5186b7964d76cb1256 # v2.22.10
        with:
          args: '-no-fail -fmt sarif -out results.sarif -tests -ai-api-provider="none" ./...'
      - name: Run gosec on push
        if: github.event_name != 'pull_request'
        uses: securego/gosec@6be2b51fd78feca86af91f5186b7964d76cb1256 # v2.22.10
        with:
          args: '-no-fail -fmt sarif -out results.sarif -tests -ai-api-provider="none" ./...'
      - name: Upload SARIF file
        uses: github/codeql-action/upload-sarif@e12f0178983d466f2f6028f5cc7a6d786fd97f4b # v4
        with:
          sarif_file: results.sarif

  govulncheck:
    name: govulncheck
    runs-on: ubuntu-latest
    permissions:
      contents: read
      actions: read
      pull-requests: read
      security-events: write
    steps:
      - uses: actions/checkout@93cb6efe18208431cddfb8368fd83d5badbf9bfd # v5
      - uses: ./.github/actions/govulncheck
        with:
          go-version: 1.25.x
