name: Pull Request

on:
  workflow_dispatch: {}
  pull_request:
    branches: [main]
    paths:
      - internal/**
      - pkg/**
      - shoutrrr/**
      - go.mod
      - go.sum
      - shoutrrr.go

jobs:
  lint:
    uses: ./.github/workflows/lint-go.yaml
    permissions:
      contents: read

  test:
    uses: ./.github/workflows/test.yaml
    permissions:
      contents: read

  gosec:
    name: Golang Security Checker
    runs-on: ubuntu-latest
    permissions:
      contents: read # needed for checkout
      security-events: write # needed for SARIF upload
    steps:
      - uses: actions/checkout@1af3b93b6815bc44a9784bd300feb67ff0d1eeb3 # v6
      - name: Run gosec
        uses: securego/gosec@6be2b51fd78feca86af91f5186b7964d76cb1256 # v2.22.10
        with:
          args: "-no-fail -fmt sarif -out results.raw.sarif -tests ./..."
      - name: Remove invalid AI fixes
        run: |
          jq '(.runs[].results[].fixes?)=[]' results.raw.sarif > results.sarif
      - name: Upload SARIF file
        uses: github/codeql-action/upload-sarif@fe4161a26a8629af62121b670040955b330f9af2 # v4
        with:
          sarif_file: results.sarif

  govulncheck:
    name: govulncheck
    runs-on: ubuntu-latest
    permissions:
      contents: read
      actions: read
      pull-requests: read
      security-events: write
    steps:
      - uses: actions/checkout@1af3b93b6815bc44a9784bd300feb67ff0d1eeb3 # v6
      - uses: ./.github/actions/govulncheck
