name: Pull Request

on:
  workflow_dispatch: {}
  pull_request:
    branches: [main]
    paths:
      - internal/**
      - pkg/**
      - shoutrrr/**
      - go.mod
      - go.sum
      - shoutrrr.go

jobs:
  lint:
    uses: ./.github/workflows/lint-go.yaml
    permissions:
      contents: read

  test:
    uses: ./.github/workflows/test.yaml
    permissions:
      contents: read

  gosec:
    name: Golang Security Checker
    runs-on: ubuntu-latest
    permissions:
      contents: read # needed for checkout
      security-events: write # needed for SARIF upload
    steps:
      - uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6
      - name: Run gosec
        uses: securego/gosec@424fc4cd9c82ea0fd6bee9cd49c2db2c3cc0c93f # v2.22.11
        with:
          args: "-no-fail -fmt sarif -out results.raw.sarif -tests ./..."
      - name: Remove invalid AI fixes
        run: |
          jq '(.runs[].results[].fixes?)=[]' results.raw.sarif > results.sarif
      - name: Upload SARIF file
        uses: github/codeql-action/upload-sarif@b20883b0cd1f46c72ae0ba6d1090936928f9fa30 # v4
        with:
          sarif_file: results.sarif

  govulncheck:
    name: govulncheck
    runs-on: ubuntu-latest
    permissions:
      contents: read
      actions: read
      pull-requests: read
      security-events: write
    steps:
      - uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6
      - uses: ./.github/actions/govulncheck
