name: Pull Request

on:
  workflow_dispatch: {}
  pull_request:
    branches: [main]
    paths:
      - internal/**
      - pkg/**
      - shoutrrr/**
      - go.mod
      - go.sum
      - shoutrrr.go

jobs:
  lint:
    uses: ./.github/workflows/lint-go.yaml
    permissions:
      contents: read

  test:
    uses: ./.github/workflows/test.yaml
    permissions:
      contents: read

  gosec:
    name: Golang Security Checker
    runs-on: ubuntu-latest
    permissions:
      contents: read # needed for checkout
      security-events: write # needed for SARIF upload
    steps:
      - uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd # v6
      - name: Run gosec
        uses: securego/gosec@bb17e422fc34bf4c0a2e5cab9d07dc45a68c040c # v2.24.7
        with:
          args: "-no-fail -fmt sarif -out results.raw.sarif -tests ./..."
      - name: Remove invalid AI fixes
        run: |
          jq '(.runs[].results[].fixes?)=[]' results.raw.sarif > results.sarif
      - name: Upload SARIF file
        uses: github/codeql-action/upload-sarif@89a39a4e59826350b863aa6b6252a07ad50cf83e # v4
        with:
          sarif_file: results.sarif

  govulncheck:
    name: govulncheck
    runs-on: ubuntu-latest
    permissions:
      contents: read
      actions: read
      pull-requests: read
      security-events: write
    steps:
      - uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd # v6
      - uses: ./.github/actions/govulncheck
