name: Update pkg.go.dev

on:
  - workflow_dispatch
  - workflow_call

permissions:
  contents: read

jobs:
  update-go-docs:
    name: Update pkg.go.dev
    runs-on: ubuntu-latest
    steps:
      - name: Pull new module version
        uses: nicholas-fedor/go-proxy-pull-action@501ad3264cb3109719d5b501fc44e66b63e1d304
        with:
          goproxy: https://proxy.golang.org
          import_path: github.com/nicholas-fedor/shoutrrr
